@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  overflow-x: hidden;
}
body h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}
body a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 2rem;
}
body a li {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}
body li:hover {
  border-radius: 5px;
  text-decoration: solid;
  background-color: rgba(137, 43, 226, 0.157);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
  color: royalblue;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 239, 249);
  background-color: #007bff;
  z-index: 100;
  padding: 30px 0px;
}
header .navbar-light {
  background-color: blueviolet;
}

.cabecera {
  background-color: #fafaf6;
  position: sticky;
  top: 0px;
  height: 100px;
}
.cabecera .navbar {
  height: 80px;
  /* altura del navbar */
}
.cabecera .logo-wrapper {
  height: 100%;
  /* altura del contenedor del logo */
}
.cabecera .logo-wrapper #cabecera__top {
  max-height: 70%;
  /* altura máxima de la imagen en relación con la altura del contenedor */
  max-width: 150px;
}
.cabecera .navbar-dark .nav-link {
  color: #fcf9f9;
}

footer img {
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}
footer img:hover {
  transform: scale(1.2);
}

/*Inicio estilados banner con video banner/bg */
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.sect {
  width: 100%;
  min-height: 500px;
}

#sect1,
#sect3 {
  color: #e6dcdc;
}

#sect2 {
  background-color: rgba(221, 221, 221, 0.4901960784);
  color: #e4e0e0;
}

/* Sección de cursos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  overflow-x: hidden;
}
body h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}
body a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 2rem;
}
body a li {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
}
body li:hover {
  border-radius: 5px;
  text-decoration: solid;
  background-color: rgba(137, 43, 226, 0.157);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
  color: royalblue;
}
#carouselExampleIndicators {
  margin: 0 auto;
  min-width: 50%;
  max-width: 70%;
  background-color: #f8f9fa;
  color: #343a40;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.card-flip {
  perspective: 1000px;
}
.card-flip .card-front,
.card-flip .card-back {
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
}
.card-flip .card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.card-flip:hover .card-front {
  transform: rotateY(180deg);
}
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

#AboutSect1 {
  margin-top: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  /* centra horizontalmente el contenido */
  align-items: center;
  /* centra verticalmente el contenido */
}
#AboutSect1 .card {
  margin: 0 auto;
  max-width: 80%;
  background-color: #f8f9fa;
  color: #343a40;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}
#AboutSect1 h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}
#AboutSect1 p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
#AboutSect1 img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #AboutSect1 .card {
    max-width: 90%;
    margin: 0 auto;
  }
}

.h-100 {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}
@media (max-width: 600px) {
  .h-100 .img-fluid {
    max-height: 100px;
    object-fit: contain;
  }
  .h-100 .h-100 {
    width: 50%;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  .h-100 .img-fluid {
    max-height: 200px;
    object-fit: contain;
  }
}

.curso {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Estilos para las tarjetas */
.cardContenido {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}
.cardContenido img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
.cardContenido h2 {
  font-size: 24px;
  margin: 20px 0 10px;
  color: #333;
}
.cardContenido p {
  font-size: 18px;
  margin: 10px 0;
  line-height: 1.5;
  color: #666;
}
.cardContenido .btn {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.cardContenido:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.cardContenido:hover .btn {
  opacity: 1;
}

/*# sourceMappingURL=estilo.css.map */
