@mixin font($font-family) {
  font-family: $font-family;
}

@mixin centrar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin detrasNav {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}