// Variables
$font-family: 'Roboto', sans-serif;
$color-bisque: bisque;
$color-black: black;
$font-weight-bold: 600;
$color-light-pink:  rgb(250, 239, 249);
$color-cornsilk: #fafaf6;
$color-silver: #fcf9f9;

