@import '../utilities/mixins';

#AboutSect1 {
  @include detrasNav;
  display: flex;
  justify-content: center;
  /* centra horizontalmente el contenido */
  align-items: center;
  /* centra verticalmente el contenido */

  .card {
    margin: 0 auto;
    max-width: 80%;
    background-color: #f8f9fa;
    color: #343a40;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  @media (max-width: 768px) {
    .card {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}